<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Review Details Page</title>

    <style>
        .errorMessage{
            margin-left: 1px;
            margin-bottom: 1px;
            color: #ff4238;
            font-size: 12px;
        }
    </style>
</head>
<body>
<main layout:fragment="main-content" th:class="main-container" style="margin-top: 5%; margin-left: 17.5rem">
    <div class="container">
        <div class="row ">
            <div class="col-xl-12 col-12 mb-5">
                <div class="card h-100 card-lg">
                    <div class="card-body p-6">
                        <table class="table mb-6 border fs-5">
                            <tbody>
                            <tr>
                                <td class="table-secondary fw-bold" style="width: 15%;">번호</td>
                                <td th:text="${review.id}"></td>
                                <td class="table-secondary fw-bold" style="width: 15%;">상태</td>
                                <td th:text="${review.isActive == true ? '게시' : '숨김'}"></td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">작성자</td>
                                <td th:text="${review.user.username}"></td>
                                <td class="table-secondary fw-bold">작성일</td>
                                <td th:text="${review.createdAt.toLocalDate()}"></td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">식당명</td>
                                <td th:text="${review.restaurant.name}"></td>
                                <td class="table-secondary fw-bold">별점</td>
                                <td th:text="${review.rating + '점'}"></td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">내용</td>
                                <td th:text="${review.content}" colspan="4"></td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">태그</td>
                                <td colspan="4">
                                    <div class="badge text-bg-light border mb-1 fs-5" th:each="tags: ${review.reviewTags}" th:text="${tags.tag.name}"></div>
                                </td>
                            </tr>

                            <tr>
                                <td class="table-secondary fw-bold">사진</td>
                                <td colspan="4">
                                    <div class="d-flex" style="width: 30%; height:100%">
                                        <img th:if="${review.image != null}" th:each="url: ${#strings.setSplit(review.image, ',')}" class="img-fluid border me-1" th:src="${url}" alt="" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="changeImage(this)">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <!--image modal-->
                        <div class="modal fade" id="imageModal" aria-labelledby="imageModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header border-bottom-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <img id="modalImage" src="" alt="" style="width: 100%; height: 100%">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button onclick="history.back()" type="button" class="btn btn-outline-secondary me-2" style="border-radius: 5%;">뒤로</button>

                            <button  th:if="${review.isActive}" type="button" class="btn btn-outline-danger" style="border-radius: 5%;"
                                    data-bs-toggle="modal" data-bs-target="#updateReviewStatusModal">숨기기</button>

                            <button th:if="${!review.isActive}" type="button" class="btn btn-primary" style="border-radius: 5%;"
                                    data-bs-toggle="modal" data-bs-target="#checkReviewTrueModal">게시</button>
                        </div>

                        <!--리뷰 숨김 시 사유 작성 모달창-->
                        <div class="modal fade" id="updateReviewStatusModal" aria-labelledby="updateReviewStatusModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">숨김 사유를 입력하세요.</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <form th:method="post" th:action="@{/admin-reviews/{id}/update-false(id=${review.id})}" th:object="${reviewUpdateStatusDTO}">
                                        <input type="hidden" th:name="id" th:value="${review.id}">
                                        <div class="modal-body modal-dialog-scrollable">
                                                <label for="note" class="col-form-label">사유</label>
                                                <input type="text" class="form-control" id="note" th:field="*{note}">
                                                <div class="errorMessage" th:errors="*{note}"></div>
                                        </div>

                                        <div class="modal-footer border-0">
                                            <button type="submit" class="btn btn-primary">작성 완료</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!--리뷰 게시 시 모달창-->
                        <div class="modal fade" id="checkReviewTrueModal" aria-labelledby="checkReviewTrueModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">리뷰 게시</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        리뷰를 다시 게시합니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                        <form th:method="post" th:action="@{/admin-reviews/{id}/update-true(id=${review.id})}">
                                            <input type="hidden" th:name="id" th:value="${review.id}">
                                            <button type="submit" class="btn btn-primary">게시</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function changeImage(img) {
            const modalImage = document.getElementById('modalImage');
            modalImage.src = img.src;
        }
    </script>
</main>
</body>
</html>