<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Review Tag Page</title>
</head>
<body id="body">
<main layout:fragment="main-content" th:class="main-container" style="margin-top: 5%; margin-left: 17.5rem">
  <div class="container">
      <div class="row mb-8">
          <div class="col-md-12">
              <div>
                  <h2>리뷰 관리</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item fw-bold"><a href="#" class="text-inherit">리뷰 관리</a></li>
                          <li class="breadcrumb-item active fw-bold" aria-current="page">리뷰 태그</li>
                      </ol>
                  </nav>

              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-12 col-12 mb-5">
              <div class="card h-100 card-lg">

                  <!--카테고리 목록 Start-->
                  <div class="p-6 d-flex">
                      <div class="me-auto">
                          <select class="form-select" id="type" name="type" onchange="filtering(this)">
                              <option>선택</option>
                              <option value="price">맛/가격</option>
                              <option value="mood">분위기</option>
                              <option value="service">서비스/기타</option>
                              <option value="pattern">이용형태</option>
                          </select>
                      </div>

                      <div>
                          <button type="button" class="btn ms-2" style="background-color: #5AAB6F; color: white;"
                                  data-bs-toggle="modal" data-bs-target="#addTagModal">태그 추가</button>
                      </div>
                  </div>

                  <!--add new tag modal-->
                  <div class="modal fade" id="addTagModal" aria-labelledby="addTagModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h6 class="modal-title">태그를 추가하세요.</h6>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>

                              <div class="modal-body modal-dialog-scrollable d-flex align-items-center">
                                  <form>
                                      <div class="me-auto">
                                          <label for="category" class="col-form-label">카테고리</label>
                                          <select class="form-select" id="category">
                                              <option selected>맛/가격</option>
                                              <option>분위기</option>
                                              <option>서비스/기타</option>
                                              <option>이용 형태</option>
                                          </select>
                                      </div>

                                      <div class="mb-3">
                                          <label for="tagName" class="col-form-label">태그명</label>
                                          <input type="text" class="form-control" id="tagName">
                                      </div>
                                  </form>
                              </div>

                              <div class="modal-footer border-0">
                                  <button type="button" class="btn me-2 mb-2" style="margin-left: auto; background-color: #5AAB6F; color: white;"
                                          data-bs-toggle="modal" data-bs-target="#addNewModal">추가 완료</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--카테고리 목록 End-->

                  <!-- card body -->
                  <div class="card-body p-0">
                      <!-- table -->
                      <div class="table-responsive">
                          <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap text-center">
                              <thead class="bg-light">
                              <tr>
                                  <th>순번</th>
                                  <th>태그명</th>
                                  <th style="width: 0.5%;">수정/삭제</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="tag, stat: ${tags.tags}">
                                  <td th:text="${stat.count}"></td>
                                  <td>
                                      <span th:text="${tag.name}" class="text-truncate" style="display: inline-block; width: 30rem;"></span>
                                  </td>
                                  <td>
                                      <button type="button" class="btn btn-outline-secondary me-3" style="border-radius: 5%;">수정</button>
                                      <button type="button" class="btn btn-outline-danger" style="border-radius: 5%;">삭제</button>
                                  </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<script>
    function filtering(element) {
        const type = document.getElementById('type').value;
        console.log(type);

        axios.get('/reviews/tags', {
            params: {
                type: type
            }
        })
        .then(response => {
            document.getElementById('body').innerHTML = response.data;
        })
        .catch(error => {
            console.error('Error: ', error);
        });
    }
</script>

<script th:inline="javascript">
    const alertMessage = [[${alertMessage}]];
    if (alertMessage) {
        alert(alertMessage);
    }
</script>
</main>
</body>
</html>