<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Review Tag Page</title>

    <style>
        .errorMessage{
            margin-left: 1px;
            margin-bottom: 1px;
            color: #ff4238;
            font-size: 12px;
        }
    </style>
</head>
<body id="body">
<main layout:fragment="main-content" th:class="main-container" style="margin-top: 5%; margin-left: 17.5rem">
  <div class="container">
      <div class="row mb-8">
          <div class="col-md-12">
              <div>
                  <h2>리뷰 관리</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb mb-0">
                          <li class="breadcrumb-item fw-bold"><a href="#" class="text-inherit">리뷰 관리</a></li>
                          <li class="breadcrumb-item active fw-bold" aria-current="page">리뷰 태그</li>
                      </ol>
                  </nav>

              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xl-12 col-12 mb-5">
              <div class="card h-100 card-lg">

                  <div class="p-6 d-flex">
                      <!--카테고리 목록 Start-->
                      <div class="me-auto">
                          <select class="form-select" id="type" name="type" onchange="filtering(this)">
                              <option>선택</option>
                              <option value="price">맛/가격</option>
                              <option value="mood">분위기</option>
                              <option value="service">서비스/기타</option>
                              <option value="pattern">이용형태</option>
                          </select>
                      </div>
                      <!--카테고리 목록 End-->
                      <div>
                          <button type="button" class="btn ms-2" style="background-color: #5AAB6F; color: white;"
                                  data-bs-toggle="modal" data-bs-target="#addTagModal">태그 추가</button>
                      </div>
                  </div>

                  <!-- card body -->
                  <div class="card-body p-0">
                      <!-- table -->
                      <div class="table-responsive">
                          <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap text-center">
                              <thead class="bg-light">
                              <tr>
                                  <th>번호</th>
                                  <th>태그명</th>
                                  <th style="width: 0.5%;">수정/삭제</th>
                              </tr>
                              </thead>
                              <tbody>
                                  <tr th:each="tag, stat: ${tags.tags}">
                                      <td th:text="${stat.count}"></td>
                                      <td>
                                          <span th:text="${tag.name}" class="text-truncate" style="display: inline-block; width: 30rem;"></span>
                                      </td>
                                      <td>
                                          <button type="button" class="btn btn-outline-secondary me-3" style="border-radius: 5%;"
                                                  data-bs-toggle="modal" th:data-bs-target="'#updateModal' + ${tag.id}">수정</button>
                                          <button type="button" class="btn btn-outline-danger" style="border-radius: 5%;"
                                                  data-bs-toggle="modal" th:data-bs-target="'#deleteModal' + ${tag.id}">삭제</button>

                                          <!--태그 수정 모달창-->
                                          <div class="modal fade" th:id="'updateModal' + ${tag.id}" aria-labelledby="updateModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                  <div class="modal-content">
                                                      <div class="modal-header">
                                                          <h6 class="modal-title">태그 수정</h6>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>

                                                      <form th:method="post" th:action="@{/reviews/tags/{id}/update(id=${tag.id})}" th:object="${tagUpdateDTO}">
                                                          <input type="hidden" th:name="id" th:value="${tag.id}">
                                                          <div class="modal-body modal-dialog-scrollable d-flex align-items-center">
                                                              <div class="mb-3 text-start">
                                                                  <label for="updateCategory" class="col-form-label text-start fw-bold">카테고리</label>
                                                                  <input type="text" class="form-control text-start text-start" id="updateCategory" th:category="category" th:value="${tag.category}" readonly>
                                                                  <label for="updateTagName" class="col-form-label text-start fw-bold">태그명</label>
                                                                  <input type="text" class="form-control text-start" id="updateTagName" th:field="${tagUpdateDTO.name}">
                                                              </div>
                                                          </div>

                                                          <div class="modal-footer border-0">
                                                              <button type="submit" class="btn btn-primary" style="margin-left: auto; background-color: #5AAB6F; color: white;">수정</button>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>
                                          </div>

                                          <!--태그 삭제 모달창-->
                                          <div class="modal fade" th:id="'deleteModal' + ${tag.id}" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                  <div class="modal-content">
                                                      <div class="modal-header">
                                                          <h5 class="modal-title">태그 삭제</h5>
                                                      </div>
                                                      <div class="modal-body modal-dialog-scrollable">
                                                          <p class="text-start">태그를 정말 삭제하시겠습니까?</p>
                                                      </div>

                                                      <div class="modal-footer">
                                                          <form th:method="post" th:action="@{/reviews/tags/{id}/delete(id=${tag.id})}">
                                                              <input type="hidden" th:name="id" th:value="${tag.id}">
                                                              <button type="submit" class="btn btn-primary" style="background-color: #5AAB6F; color: white;">삭제</button>
                                                          </form>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>

                  <!--태그 추가 모달창-->
                  <div class="modal fade" id="addTagModal" aria-labelledby="addTagModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h6 class="modal-title">태그 추가</h6>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>

                              <form th:method="post" th:action="@{/reviews/tags/write}" th:object="${tagSaveDTO}">
                                  <div class="modal-body modal-dialog-scrollable align-items-center">
                                      <label for="category" class="col-form-label fw-bold">카테고리</label>
                                      <select class="form-select" id="category" th:field="*{category}">
                                          <option value="맛/가격">맛/가격</option>
                                          <option value="분위기">분위기</option>
                                          <option value="서비스/기타">서비스/기타</option>
                                          <option value="이용형태">이용형태</option>
                                      </select>

                                      <label for="tagName" class="col-form-label fw-bold">태그명</label>
                                      <input type="text" class="form-control" id="tagName" th:field="*{name}">
                                  </div>

                                  <div class="modal-footer border-0">
                                      <button type="submit" class="btn btn-primary" style="margin-left: auto; background-color: #5AAB6F; color: white;">추가</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<script>
    function filtering(element) {
        const type = document.getElementById('type').value;

        axios.get('/reviews/tags', {
            params: {
                type: type
            }
        })
        .then(response => {
            document.getElementById('body').innerHTML = response.data;
        })
        .catch(error => {
            console.error('Error: ', error);
        });
    }
</script>

<script th:inline="javascript">
    const alertMessage = [[${alertMessage}]];
    if (alertMessage) {
        alert(alertMessage);
    }
</script>
</main>
</body>
</html>