<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Review Page</title>
</head>
<body id="body">
<main layout:fragment="main-content" th:class="main-container" style="margin-top: 5%; margin-left: 17.5rem">
  <div class="container">
    <div class="row mb-8">
      <div class="col-md-12">
        <div>
          <h2>리뷰 관리</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item fw-bold"><a href="#" class="text-inherit">리뷰 관리</a></li>
              <li class="breadcrumb-item active fw-bold" aria-current="page">리뷰 목록</li>
            </ol>
          </nav>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12 col-12 mb-5">
        <div class="card h-100 card-lg">

            <!--필터링 Start-->
            <div class="p-6 d-flex">
                <form th:method="get" class="me-auto" role="search">
                    <input id="keyword" name="keyword" class="form-control" type="search" placeholder="내용을 입력하세요." aria-label="Search">
                </form>

                <div class="ms-2">
                    <select class="form-select" id="type" name="type" onchange="filtering(this)">
                        <option>선택</option>
                        <option value="new">최신순</option>
                        <option value="old">등록순</option>
                        <option value="rating">별점</option>
                        <option value="status">상태</option>
                    </select>
                </div>

                <div class="ms-2" style="display: none;" id="ratingSub">
                    <select class="form-select" id="score" name="score" onchange="filterRate(this)">
                        <option>선택</option>
                        <option value="5">5점</option>
                        <option value="4">4점</option>
                        <option value="3">3점</option>
                        <option value="2">2점</option>
                        <option value="1">1점</option>
                    </select>
                </div>

                <div class="ms-2" style="display: none;" id="statusSub">
                    <select class="form-select" id="isActive" name="isActive" onchange="filterActive(this)">
                        <option>선택</option>
                        <option value="true">게시</option>
                        <option value="false">숨김</option>
                    </select>
                </div>
            </div>

          <!--필터링 End-->

          <!-- card body -->
          <div class="card-body p-0">
            <!-- table -->
            <div class="table-responsive">
              <table class="table table-centered table-hover table-borderless mb-0 table-with-checkbox text-nowrap text-center">
                <thead class="bg-light">
                  <tr>
                    <th>ID</th>
                    <th>작성일</th>
                    <th>고객 정보</th>
                    <th>식당명</th>
                    <th>내용</th>
                    <th>상태</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="review: ${reviews.reviews}">
                    <td th:text="${review.id}"></td>

                    <td th:text="${review.createdAt.toLocalDate()}"></td>
                    <td>
                      <p th:text="${review.user.username}" class="mb-0"></p>
                      <p th:text="${review.user.email}" class="mb-0"></p>
                    </td>

                    <td>
                      <p th:text="${review.restaurant.name}" class="mb-0"></p>
                        <div class="d-flex justify-content-center">
                          <span th:each="i : ${#numbers.sequence(1, review.rating)}">
                            <p class="text-warning">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                            </p>
                          </span>
                        </div>
                    </td>

                    <td>
                      <span class="text-truncate" style="display: inline-block; width: 33rem;"><a th:href="@{/admin-reviews/{id}(id=${review.id})}" th:text="${review.content}" href="#" class="text-reset"></a></span>
                    </td>

                    <td>
                        <span th:if="${review.isActive}" th:text="${'게시'}" class="badge bg-light-primary text-dark-primary fs-6"></span>
                        <span th:if="${!review.isActive}" th:text="${'숨김'}" class="badge bg-light-danger text-dark-danger fs-6"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="border-top d-md-flex justify-content-between align-items-center p-6">
              <span th:text="${'총 리뷰 수 ' + reviews.total + '개 / ' + reviews.page + ' 페이지'}"></span>
              <nav class="mt-2 mt-md-0">
                  <ul class="pagination mb-0">
                      <li class="page-item">
                          <a class="page-link" th:if="${reviews.type} == null and ${reviews.keyword} == null" th:href="@{/admin-reviews(page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == null and ${reviews.keyword} != null" th:href="@{/admin-reviews(keyword=${reviews.keyword}, page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == 'new'" th:href="@{/admin-reviews(type='new', page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == 'old'" th:href="@{/admin-reviews(type='old', page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                          <a class="page-link" th:if="${reviews.score} != null" th:href="@{/admin-reviews(type='rating', score=${reviews.score}, page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                          <a class="page-link" th:if="${reviews.isActive} != null" th:href="@{/admin-reviews(type='status', isActive=${reviews.isActive}, page=${reviews.page - 10 >= 1 ? reviews.page - 10 : 1})}">Previous</a>
                      </li>

                      <li class="page-item" th:each="i : ${#numbers.sequence(reviews.start, reviews.end)}">
                          <a class="page-link" th:text="${i}" th:if="${reviews.type} == null and ${reviews.keyword} == null" th:href="@{/admin-reviews(page=${i})}"></a>
                          <a class="page-link" th:text="${i}" th:if="${reviews.type} == null and ${reviews.keyword} != null" th:href="@{/admin-reviews(keyword=${reviews.keyword}, page=${i})}"></a>
                          <a class="page-link" th:text="${i}" th:if="${reviews.type} == 'new'" th:href="@{/admin-reviews(type='new', page=${i})}"></a>
                          <a class="page-link" th:text="${i}" th:if="${reviews.type} == 'old'" th:href="@{/admin-reviews(type='old', page=${i})}"></a>
                          <a class="page-link" th:text="${i}" th:if="${reviews.score} != null" th:href="@{/admin-reviews(type='rating', score=${reviews.score}, page=${i})}"></a>
                          <a class="page-link" th:text="${i}" th:if="${reviews.isActive} != null" th:href="@{/admin-reviews(type='status', isActive=${reviews.isActive}, page=${i})}"></a>
                      </li>

                      <li class="page-item">
                          <a class="page-link" th:if="${reviews.type} == null and ${reviews.keyword} == null" th:href="@{/admin-reviews(page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == null and ${reviews.keyword} != null" th:href="@{/admin-reviews(keyword=${reviews.keyword}, page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == 'new'" th:href="@{/admin-reviews(type='new', page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                          <a class="page-link" th:if="${reviews.type} == 'old'" th:href="@{/admin-reviews(type='old', page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                          <a class="page-link" th:if="${reviews.score} != null" th:href="@{/admin-reviews(type='rating', score=${reviews.score}, page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                          <a class="page-link" th:if="${reviews.isActive} != null" th:href="@{/admin-reviews(type='status', isActive=${reviews.isActive}, page=${reviews.page + 10 <= reviews.last ? reviews.page + 10 : reviews.end})}">Previous</a>
                      </li>
                  </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    function filtering(element) {
        //필터링 동적 변경
        const type = document.getElementById('type').value;
        const ratingSub = document.getElementById('ratingSub');
        const statusSub = document.getElementById('statusSub');

        if (type === 'old' || type === 'new') {
            ratingSub.style.display = 'none';
            statusSub.style.display = 'none';
        } else if (type === 'rating') {
            ratingSub.style.display = 'block';
            statusSub.style.display = 'none';
        } else if (type === 'status') {
            ratingSub.style.display = 'none';
            statusSub.style.display = 'block';
        }

        //데이터 전송
        if(type === 'new' || type === 'old') {
            axios.get('admin-reviews', {
                params: {
                    type: type
                }
            })
            .then(response => {
                const reviews = response.data;
                console.log(reviews);
                document.getElementById('body').innerHTML = reviews;
            })
            .catch(error => {
                console.error('Error: ', error);
            });
        }
    }

    function filterRate(element) {
        const score = document.getElementById('score').value;
        console.log('score: ' + score);
        if(score != '선택') {
            axios.get('/admin-reviews', {
                params: {
                    type: 'rating',
                    score: score
                }
            })
            .then(response => {
                const reviews = response.data;
                console.log(reviews);
                document.getElementById('body').innerHTML = reviews;
            })
            .catch(error => {
                console.error('Error: ', error);
            });
        }
    }

    function filterActive(element) {
        const isActive = document.getElementById('isActive').value;
        console.log('ac: ' + isActive)
        if (isActive != '선택') {
            axios.get('/admin-reviews', {
                params: {
                    type: 'status',
                    isActive: isActive
                }
            })
            .then(response => {
                const reviews = response.data;
                console.log(reviews);
                document.getElementById('body').innerHTML = reviews;
            })
            .catch(error => {
                console.error('Error: ', error);
            });
        }
    }
</script>
</main>
</body>
</html>